# Banco de questões

# Extraindo questões de um PDF

In [1]:
import criar_banco

In [2]:
PATH = ("/Users/leoassis/Documents/Github/"
       "bancoquestoes/Testes Questões/2022-FASE-1-Nível-B.pdf")
DELIMITER = "B."

questoes = criar_banco.extract_questions_from_pdf(PATH, DELIMITER)

In [52]:
numero_questao = 21

questoes[numero_questao]

IndexError: list index out of range

In [7]:
NOME_BANCO = "questoes_OBFEP"

criar_banco.create_database(NOME_BANCO)

In [51]:
criar_banco.insert_question(NOME_BANCO, questoes[numero_questao],
                            "colisoes", "a definir", "2 ano")

## Visualizar Banco de Questões

In [5]:
NOME_BANCO = "questoes_OBFEP"

In [9]:
import sqlite3
import pandas as pd
conn = sqlite3.connect(f'{NOME_BANCO}.db')
query = "SELECT * FROM questoes"
df = pd.read_sql_query(query, conn)
# Exibe o DataFrame como uma tabela no Jupyter Lab
df.head()  # ou df para visualizar a tabela completa

,id,texto,tema,dificuldade,serie
0,1,1)(somente para a 1ª série) Os aparelhos elétr...,termodinâmica,a definir,2 ano
1,2,2) (somente para a 1ª série) No quarto de Ana ...,optica,a definir,1 ano
2,3,"3) (somente para a 1ª série)Certo dia, Claudio...",leis de newton,a definir,1 ano
3,4,4) (somente para a 1ª série) Na casa de João e...,leis de newton,a definir,1 ano
4,5,5) (somente para a 1ª série) Roberto é muito s...,leis de newton,a definir,1 ano

In [11]:
tema_especifico = "optica"
df_filtrado = df[df['tema'] == tema_especifico]
df_filtrado.head()

,id,texto,tema,dificuldade,serie
1,2,2) (somente para a 1ª série) No quarto de Ana ...,optica,a definir,1 ano
5,6,5) (somente para a 1ª série) Roberto é muito s...,optica,a definir,1 ano
16,17,15) Quando a porta e as janelas do escritório ...,optica,a definir,2 ano
18,19,17) Adalberto sente-se mais à vontade quando c...,optica,a definir,2 ano

In [15]:
def visualizar_questao(id_questao):
    # Conecta ao banco de dados SQLite
    conn = sqlite3.connect(f'{NOME_BANCO}.db')
    
    # Consulta SQL para buscar a questão pelo ID
    query = f"""
    SELECT serie, tema, dificuldade, texto 
    FROM questoes 
    WHERE id = {id_questao}
    """
    
    # Executa a consulta e carrega o resultado em um DataFrame
    df = pd.read_sql_query(query, conn)
    
    # Fecha a conexão com o banco de dados
    conn.close()
    
    # Verifica se a questão foi encontrada
    if df.empty:
        print(f"Nenhuma questão encontrada com o ID {id_questao}.")
        return
    
    # Extrai os dados da questão
    ano = df['serie'].iloc[0]
    tema = df['tema'].iloc[0]
    dificuldade = df['dificuldade'].iloc[0]
    texto = df['texto'].iloc[0]
    
    # Formata e exibe o resultado
    print(f"Ano: {ano}")
    print(f"Tema: {tema}")
    print(f"Dificuldade: {dificuldade}")
    print(f"Texto: {texto}")

# Exemplo de uso
visualizar_questao(1)

Ano: 2 ano
Tema: termodinâmica
Dificuldade: a definir
Texto: 1)(somente para a 1ª série) Os aparelhos elétricos funcionam quando uma corrente elétrica passa
por eles. Alguns equipamentos conseguem interromper automaticamente a passagem de corrente elétrica
quando alcançam uma situação ideal. Um exemplo disso é o ferro de passar da casa de Jorge. Quando ele
atinge 120 °C, uma lâmina bimetálica retilínea encurva-se desfazendo o contato que permite a passagem de
corrente pelo ferro de passar, conforme mostra a figura. A lâmina bimetálica é composta por uma lâmina de
ferro e outra de latão justapostas e unidas fortemente.
Sabe-se que os coeficientes de dilatação linear do latão e do ferro são respectivamente iguais a 2,0x10-5°C-1 e
1,2 x10-5 °C-1.Com base nessas informações, para que haja interrupção da corrente elétrica do ferro de passar:
a) a lâmina de ferro deve ficar acima da lâmina de latão.
b) a lâmina de ferro deve ficar abaixo da lâmina de latão.
c) a lâmina de ferro pode ficar acima ou abaixo da lâmina de latão.
d) as duas lâminas devem ficar uma ao lado a outra.

## Criando uma lista a partir de um banco de dados

In [1]:
import criar_lista

/Users/leoassis/opt/miniconda3/envs/questoes/lib/python3.12/site-packages/fpdf/__init__.py:39: UserWarning: You have both PyFPDF & fpdf2 installed. Both packages cannot be installed at the same time as they share the same module namespace. To only keep fpdf2, run: pip uninstall --yes pypdf && pip install --upgrade fpdf2
  warnings.warn(

In [2]:
NOME_BANCO = "questoes_OBFEP"

questoes = criar_lista.fetch_questions(NOME_BANCO)

In [3]:
criar_lista.create_pdf(questoes, "teste.pdf")

# END OF NOTEBOOK